/* Secure text sec start */
/* Timeline start */
.my-cart-wv-secure-timeline-section-bbox h4 {
    color: #5D616D;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 0px;
}
.my-cart-wv-secure-timeline-section-bbox {
    border-bottom: 2px solid #E0E4F0;
    padding-bottom: 4px;
    width: 78%;
}
.my-cart-wv-secure-timeline-section-bbox {
    position: relative;
}
.my-cart-wv-secure-timeline-section-bordr {
    position: absolute;
    border: 2px solid #FF6347;
    width: 90px;
    bottom: -3px;
}
.my-cart-wv-secure-timeline-section-bordr.proceedto-checkout-wvv {
    position: absolute;
    border: 2px solid #FF6347;
    width: 260px;
    bottom: -3px;
}
p.my-cart-shoppingg-cart-icon-tzxt {
    color: #ff6347 !important;
}
.my-cart-wv-secure-timeline-section-bbox-color-box ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.my-cart-wv-secure-timeline-section-bbox-color-box ul li {
    display: inline-block;
    width: 25%;
}
.my-cart-wv-secure-timeline-section-bbox-color-box {
    width: 99%;
}
.my-cart-wv-secure-timeline-section-bbox-color-box ul li .my-cart-shoppingg-cart-icon-bbggg {
    background-color: #E0E4F0;
    color: #fff;
    width: 36px;
    height: 36px;
    font-size: 14px;
    border-radius: 50px;
    line-height: 37px;
}
.my-cart-shoppingg-cart-icon-bbggg.shoppinf-color {
    background-color: #FF6347!important;
}
.my-cart-wv-secure-timeline-section-timeline-sec {
    position: relative;
    margin-top: 40px;
}
.my-cart-wv-secure-timeline-section-bbox-color-box {
    position: absolute;
    top: -13px;
    left: -5px;
}
.my-cart-wv-secure-timeline-section-bbox-color-box ul li p {
    font-size: 14px;
    margin-left: -120px;
    margin-top: 13px;
    color: #B4BACB;
}
/* Timeline end */
/* Secure text sec end ---------------- */

/* Payment Select Box Start */
.my-cart-wv-shoppingcart-order-payment-method-tabs {
    margin-top: 30px;
}
.my-cart-wv-shoppingcart-order-payment-method-tabs li.react-tabs__tab--selected {
    background-color: #FFF8F7 !important;
    border: 1px solid #FF6347;
    border-radius: 8px !important;
    transition: .3s !important;
    padding: 10px !important;
    width: 22%;
    height: 95px;
    box-shadow: unset !important;
    color: #333 !important;
    text-align: center !important;
}
.my-cart-wv-shoppingcart-order-payment-method-tabs .react-tabs__tab {
    background-color: #ffffff !important;
    border: 1px solid #B4BACB;
    border-radius: 8px !important;
    transition: .3s !important;
    padding: 10px !important;
    width: 22%;
    height: 95px;
    box-shadow: unset !important;
    color: #333 !important;
    text-align: center !important;
    margin-left: 0px !important;
}
.my-cart-wv-shoppingcart-order-payment-method-tabs li.react-tabs__tab {
    margin-left: 15px !important; 
}
.my-cart-wv-shoppingcart-order-payment-method-logo img {
    width: 36px;
    height: 36px;
    margin-top: 8px;
    margin-bottom: 6px;
}
.my-cart-wv-shoppingcart-order-payment-method-logo p {
    font-size: 13px;
    color: #5D616D;
}



.my-cart-wv-order-payment-method-input-field-credit-cardd-main-box {
    border: 1px solid #ff6347;
    border-radius: 8px;
    padding: 15px;
    padding-left: 25px;
    margin-left: 15px;
    margin-right: 35px;
    margin-top: 20px;
    margin-bottom: 15px;
}
/* Payment Select Box End */