/* Top bg Section start */
.obd-flash-deal-details-products-top-bg-section {
    background-color: #fff;
    height: 138px;
    margin-top: 18px;
    box-shadow: 0 4px 12px rgba(0,0,0,.08);
    position: relative;
}
.obd-flash-deal-details-products-bg-img img {
    height: 138px;
}
.obd-flash-deal-details-products-hed-txt {
    position: absolute;
    top: -105px;
}

.obd-flash-deal-details-products-hed-txt h3 {
    font-size: 30px;
    font-weight: 700;
    color: #FF6347;
}

.obd-flash-deal-details-products-hed-txt p {
    font-size: 15px;
    color: #5D616D;
    margin-top: -2px;
}
.obd-flash-deal-details-products-bg-middle img {
    position: absolute;
    top: -133px;
    right: 7px;
    height: 133px;
}

/* Time Count Section */
.obd-best-selling-details-products-right-time {
    position: absolute;
    top: -87px;
    left: 102px;
}
.obd-best-selling-details-products-right-time span.time-countt-dayssx-webb {
    background-color: #FF6347;
    color: #fff;
    padding: 5px 3px 5px 3px;
    border-radius: 5px;
    font-size: 13px;
    min-width: 50px;
    box-shadow: 0 2px 3px rgba(255, 99, 71, .5);
    margin-left: 2px;
    margin-right: 2px;
}
.obd-best-selling-details-products-right-time span.flash-deat-time-coint-end-in-txt {
    color: #5D616D;
    font-size: 16px;
    margin-right: 6px;
}
/* Time Count Section */
/* Top bg Section end */